/*Customising Variables*/
:root {
    /*Fonts*/
    --fontsize-main: 11px;

    /*Colors*/
    --color-bg-main:                    #000000;
    --color-text-main:                  #DDDDDD;
    --color-text-headers:               #FFFFFF;
    --color-text-headers-hover:         #BBBBFF;

    --color-list-title:                 rgba(0, 0, 0, 0.8);
    --color-list-container:             rgba(0, 0, 0, 0.8);

    --color-list-oddrows:               rgba(50, 50, 50, 0.7);
    --color-list-oddrows-hover:         rgba(200, 200, 200, 0.7);
    --color-list-evenrows:              rgba(10, 10, 10, 0.7);
    --color-list-evenrows-hover:        rgba(200, 200, 200, 0.7);

    --color-list-status-watching:       #2db039;
    --color-list-status-plantowatch:    #c3c3c3;
    --color-list-status-completed:      #26448f;
    --color-list-status-onhold:         #f1c83e;
    --color-list-status-dropped:        #a12f31;

    /*Images*/
    --img-character-left:               url(https://i.imgur.com/xZuwLMq.png);
    --img-character-right:              url(https://i.imgur.com/msdzjtq.png);
    --img-background:                   url(https://i.imgur.com/wrOXMUV.jpg);
    --img-ambient-effect:               url();

    /*Transitions*/
    --transition-time:                  0.25s;
    --transition-type:                  ease;
}

/*General Style*/
header {

}
body {
      background-color: var(--color-bg-main);
      background-image: var(--img-ambient-effect), var(--img-background);
      background-position: center center, center center;
      background-repeat: repeat, no-repeat;
      background-attachment: fixed, fixed;
      background-size: auto, cover;
      margin: 0 0 0 0;
      color: var(--color-text-main);
      text-align: center;
      font-family: Verdana, Arial;
      font-size: var(--fontsize-main);
}
footer {

}

/*General Table Style*/
th {

}
tbody {

}
tr {

}
td {
      line-height: 1.5em;
}

/*General Text Style*/
a {
    color: var(--color-text-main);
    text-decoration: none;
}

/*Characters Left Right*/
body:before {
    height: 100%;
    width: 100%;
    left: -40%;
    right: 0;
    top: 0;
    bottom: 0;
    position: fixed;
    content: var(--img-character-left);
    z-index: -1;
}
body:after {
    height: 100%;
    width: 100%;
    left: 40%;
    right: 0;
    top: 0;
    bottom: 0;
    position: fixed;
    content: var(--img-character-right);
    z-index: -1;
}

/*Animelist Table Rows*/
tr[class*="list-table-data"] {
    height: 80px;
    transition: var(--transition-type) var(--transition-time);
}
tr[class*="list-table-data"]:hover {
    height: 90px;
    transition: var(--transition-type) var(--transition-time);
}

/*Animelist Table Rows - ODD & EVEN*/
.list-table tbody:nth-of-type(2n) {
    background-color: var(--color-list-oddrows) !important;
    transition: var(--transition-type) var(--transition-time);
}
.list-table tbody:nth-of-type(2n+1) {
    background-color: var(--color-list-evenrows) !important;
    transition: var(--transition-type) var(--transition-time);
}
.list-table tbody:nth-of-type(2n):hover {
    background-color: var(--color-list-oddrows-hover) !important;
    transition: var(--transition-type) var(--transition-time);
}
.list-table tbody:nth-of-type(2n+1):hover {
    background-color: var(--color-list-evenrows-hover) !important;
    transition: var(--transition-type) var(--transition-time);
}

/*Animelist container*/
.list-container {
    position: relative;
    background-color: var(--color-list-container) !important;
    width: 1058px;
    margin-bottom: 0;
    margin-right: auto;
    margin-left: auto;
}

/*Animelist header title*/
th[class*="header-title"] {
    background-color: var(--color-list-title) !important;
}
.list-table .list-table-header .header-title.status,
.list-table .list-table-header .header-title.number,
.list-table .list-table-header .header-title .image,
.list-table .list-table-header .header-title .title,
.list-table .list-table-header .header-title .score,
.list-table .list-table-header .header-title .progress,
.list-table .list-table-header .header-title .link,
.list-table .list-table-header .header-title .link.sort {
   color: var(--color-text-headers);
   transition: var(--transition-type) var(--transition-time);
}
.list-table .list-table-header .header-title.status:hover,
.list-table .list-table-header .header-title.number:hover,
.list-table .list-table-header .header-title .image:hover,
.list-table .list-table-header .header-title .title:hover,
.list-table .list-table-header .header-title .score:hover,
.list-table .list-table-header .header-title .progress:hover,
.list-table .list-table-header .header-title .link:hover,
.list-table .list-table-header .header-title .link.sort:hover {
   color: var(--color-text-headers-hover);
   transition: var(--transition-type) var(--transition-time);
}

/*Animelist status*/
.list-table .list-table-data .data.status.reading,
.list-table .list-table-data .data.status.watching {
    background-color: var(--color-list-status-watching);
}
.list-table .list-table-data .data.status.plantoread,
.list-table .list-table-data .data.status.plantowatch {
    background-color: var(--color-list-status-plantowatch);
}
.list-table .list-table-data .data.status.completed {
    background-color: var(--color-list-status-completed);
}
.list-table .list-table-data .data.status.onhold {
    background-color: var(--color-list-status-onhold);
}
.list-table .list-table-data .data.status.dropped {
    background-color: var(--color-list-status-dropped);
}

/*List Image*/
.list-table .list-table-data .data.image .image {
    width:48px;
    height:68px;
    margin-left:-24px;
    margin-top:-34px;
    border:1px solid #dddddd;
    background-position:50% 50%;
    background-size:cover;
    border-bottom-left-radius:0px;
    border-bottom-right-radius:7px;
    border-top-left-radius:7px;
    border-top-right-radius:0px;
    box-shadow:rgba(20, 20, 20, 0.55) 0 0 4px 4px;
    position: absolute;
    transition: var(--transition-type) var(--transition-time);
}
.list-table .list-table-data .data.image .image:hover {
    width:96px;
    height:136px;
    margin-left:-48px;
    margin-top:-68px;
    border-bottom-left-radius:0px;
    border-bottom-right-radius:20px;
    border-top-left-radius:20px;
    border-top-right-radius:0px;
    box-shadow:rgba(20, 20, 20, 0.55) 0 0 8px 8px;
    z-index:1;
    position: absolute;
    transition: var(--transition-type) var(--transition-time);
}

/*Image List Width*/
.list-table .list-table-header .header-title.image {
    width: 120px
}

/*Animated Intros*/
.list-unit.watching:before,
.list-unit.reading:before {
    background-image: url("http://i.imgur.com/siL9m0H.jpg");
    background-size: cover;
    background-position: right bottom;
}
.list-unit.completed:before {
    background-image: url("http://i.imgur.com/0TnJ2oV.png");
    background-size: cover;
    background-position: right bottom;
}
.list-unit.onhold:before {
    background-image: url("http://i.imgur.com/a0tV6Cl.png");
    background-size: cover;
    background-position: right bottom;
}
.list-unit.dropped:before {
    background-image: url("http://i.imgur.com/hBLFRB3.jpg");
    background-size: cover;
    background-position: right bottom;
}
.list-unit.plantowatch:before,
.list-unit.plantoread:before {
    background-image: url("http://i.imgur.com/glOuYOr.jpg");
    background-position: right bottom;
    background-size: 130%;
}
.list-unit.all_anime:before{
    background-image: url("http://i.imgur.com/2AtSOJw.jpg");
    background-position: right bottom;
    background-size: 130%;
}

/* ANIMATED INTRO LEFT SIDE (images and text)
By default, these are the logos and text. The character name is a premade image
generated at Cooltext.com. "content:" controls the rest of the text on the left.
Padding top % can be lowered to bring the content text above the logo-
it can be increased to move the content text down away from the logo.
Increase or decrease the top % to lower or raise the logo itself down the page.
*/

.list-unit.watching .list-status-title:before,
.list-unit.reading .list-status-title:before {
    background: transparent url("http://i.imgur.com/Y91tQfV.png") no-repeat;
    background-position: 50% 10%;
    background-size: 80%;
    content: "Presents my current anime" !important;
    color: black !important;
    font-size: 32px !important;
    padding-top: 15%;
    top: 0% !important;
}
.list-unit.completed .list-status-title:before {
    background: transparent url("http://i.imgur.com/hwTsJoF.png") no-repeat;
    background-position: 50% 10%;
    background-size: 80%;
    content: "Presents my completed anime" !important;
    color: black !important;
    font-size: 32px !important;
    padding-top: 15%;
    top: 0% !important;
}
.list-unit.onhold .list-status-title:before {
    background: transparent url("http://i.imgur.com/mEBTi5l.png") no-repeat;
    background-position: 50% 10%;
    background-size: 80%;
    content: "Presents my anime on-hold" !important;
    color: black !important;
    font-size: 32px !important;
    padding-top: 15%;
    top: 0% !important;
}
.list-unit.dropped .list-status-title:before {
    background: transparent url("http://i.imgur.com/4dUcU6n.png") no-repeat;
    background-position: 50% 10%;
    background-size: 80%;
    content: "Presents my dropped anime" !important;
    color: black !important;
    font-size: 32px !important;
    padding-top: 15%;
    top: 0% !important;
}
.list-unit.plantowatch .list-status-title:before,
.list-unit.plantoread .list-status-title:before {
    background: transparent url("http://i.imgur.com/U6Fr2xF.png") no-repeat;
    background-position: 50% 10%;
    background-size: 80%;
    content: "Presents anime I plan to watch" !important;
    color: black !important;
    font-size: 32px !important;
    padding-top: 15%;
    top: 0% !important;
}
.list-unit.all_anime .list-status-title:before {
    background: transparent url("http://i.imgur.com/Pu6rdJ4.png") no-repeat;
    background-position: 50% 10%;
    background-size: 80%;
    content: "Presents my full anime list" !important;
    color: black !important;
    font-size: 32px !important;
    padding-top: 15%;
    top: 0% !important;
}

/* ANIMATED INTRO RIGHT SIDE (renders)
Background-size is the amount of percentage you see of the render.
*/
.list-unit.watching .list-status-title:after,
.list-unit.reading .list-status-title:after {
    background: transparent url("http://i.imgur.com/1ceDA2E.png") no-repeat;
    background-size: 50%;
    content: "";
    color: black !important;
    font-size: 32px !important;
}
.list-unit.completed .list-status-title:after {
    background: transparent url("http://i.imgur.com/ADwkSH8.png") no-repeat;
    background-size: 50%;
    content: "";
    color: black !important;
    font-size: 32px !important;
}
.list-unit.onhold .list-status-title:after {
    background: transparent url("http://i.imgur.com/jJjeAGX.png") no-repeat;
    background-size: 50%;
    content: "";
    color: black !important;
    font-size: 32px !important;
}
.list-unit.dropped .list-status-title:after {
    background: transparent url("http://i.imgur.com/gPTEuyP.png") no-repeat;
    background-size: 55%;
    content: "";
    color: black !important;
    font-size: 32px !important;
}
.list-unit.plantowatch .list-status-title:after,
.list-unit.plantoread .list-status-title:after {
    background: transparent url("http://i.imgur.com/3tVfecX.png") no-repeat;
    background-size: 50%;
    content: "";
    color: black !important;
    font-size: 32px !important;
}
.list-unit.all_anime .list-status-title:after {
    background: transparent url("http://i.imgur.com/wQrkyTy.png") no-repeat;
    background-size: 50%;
    content: "";
    color: black !important;
    font-size: 32px !important;
}

/* ANIMATED INTRO OTHER SETTINGS
The first set of codes is for the background seen behind the animations.
The second set is for the left side of the animated intro. The third set controls
the intro on the right. The #s codes at the bottom after mymove codes control the
timing of the animations. Lower or raise them to make the animations longer.
*/

.list-block .list-unit:before {
    background-color: black;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 100% !important;
    left: 0 !important;
    position: fixed !important;
    top: 0 !important;
    width: 100% !Important;
    z-index: 101;
    color: transparent;
    content: "";
    pointer-events: none;
    opacity: 0;
    -moz-animation:mymove 5s; /* Firefox */
    -webkit-animation:mymove 5s; /* Safari and Chrome */
}
.list-block .list-unit .list-status-title:before {
    position: fixed;
    text-align: center;
    font-family: Century Gothic;
    text-shadow: 1px 2px 3px white;
    height: 100%;
    width: 45%;
    left: 0 !important;
    pointer-events: none;
    opacity: 0;
    z-index: 110 !Important;
    -moz-animation:mymove 5s; /* Firefox */
    -webkit-animation:mymove 5s; /* Safari and Chrome */
}
.list-block .list-unit .list-status-title:after {
    position: fixed;
    height: 100%;
    width: 100%;
    right: 0 !important;
    top: 0 !important;
    z-index: 110;
    pointer-events: none;
    opacity: 0;
    background-position: 100% 0;
    padding-top: 20%;
    -moz-animation:mymove2 5s; /* Firefox */
    -webkit-animation:mymove2 5s; /* Safari and Chrome */
}

@-moz-keyframes mymove /* Firefox */ {
    0% {opacity: 1}
    80% {opacity: 1}
    95% {opacity: 0}
    99% {opacity: 0}
}
@-moz-keyframes mymove2 /* Firefox */ {
    0% {opacity: 1; background-position: -100% 0;}
    40% {opacity: 1; background-position: 100% 0;}
    80% {opacity: 1}
    95% {opacity: 1}
    99% {opacity: 0}
}
@-webkit-keyframes mymove /* Safari and Chrome */ {
    0% {opacity: 1}
    80% {opacity: 1}
    95% {opacity: 0}
    99% {opacity: 0}
}
@-webkit-keyframes mymove2 /* Safari and Chrome */ {
    0% {opacity: 1; background-position: -100% 0;}
    40% {opacity: 1; background-position: 100% 0;}
    80% {opacity: 1}
    95% {opacity: 1}
    99% {opacity: 0}
}
